.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}

html.suspended {background: rgba(0,0,0,0.6);}
html{font-size: 14px;font-family: 'Montserrat', sans-serif;}
body {max-width: 1600px;min-width: 1330px;margin: 0 auto;text-align: center;position: relative;}
a:link,
a:visited,
a:hover,
a:active {color:inherit;text-decoration: none;outline: none;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
h1 {font-size: 100px;font-weight: 100;color:#ccc;}
.row {max-width: 1200px;margin: 0 auto}
*{box-sizing: border-box;}
img{max-width: 100%;height: auto;}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;line-height: 0;}
.clearfix {display:block;}

/*font weight*/
.f-thi{font-weight: 100;} /*thin*/
.f-eli{font-weight: 200;} /*extra light*/
.f-lig{font-weight: 300;} /*light*/
.f-reg{font-weight: 400;} /*regular*/
.f-med{font-weight: 500;} /*medium*/
.f-sem{font-weight: 600;} /*semi medium*/
.f-bol{font-weight: 700;} /*bold*/
.f-ebo{font-weight: 800;} /*extra bold*/
.f-bla{font-weight: 900;} /*black*/

/*normalization when using bootstrap*/
.no-padding, p, div{padding: 0px;margin: 0px;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form .recap {display: inline-block;}

/*gallery*/
.inner > #content .gallery-container {text-align: center;}
.inner > #content .gallery {list-style-type: none;margin: 0;padding: 0;}
.inner > #content .gallery li {display: inline-block;}
.inner > #content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: 1.42857; margin-bottom: 20px;padding: 4px;transition: border 0.2s ease-in-out 0s;}
.inner > #content .page_navigation {display: inline-block;}
.inner > #content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
.inner > #content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;
}

.btn{font-size: 1.1428571428571428rem;line-height: 140%;color: #04CBE6 !important;font-weight: 700;}
.btn:before{content: url(../images/content/btn-arrow.png);display: inline-block;padding-right: 16px;}
.col-md-6 {width: calc(50% - 2px);display: inline-block;vertical-align: top;}

/*header*/
#header {background: linear-gradient(-120deg, #3DAFE3 , #5C19C8);position: relative;}
#header .row{position: relative;}
#header .logo{position: absolute;top: 0;left: -15px;z-index: 1;}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0;text-align: right;}
#header nav ul li {display: inline-block;vertical-align: middle;padding-top: 25px;padding-bottom: 25px;}
#header nav ul li:first-child{padding-right: 45px;padding-left: 10px;}
#header nav ul li:last-child{padding-right: 10px;padding-left: 45px;}
#header nav ul li:not(:first-child):not(:last-child){padding-right:45px;padding-left: 45px;}
#header nav ul li a {color: #fff;font-size: 1rem;text-transform: uppercase;}
#header nav ul li.active-menu a, #header nav ul li a:hover {color:#fff;
-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
     -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;}

/*banner*/
#banner {position: relative;}
#banner img{display: block;}
#banner .banner-text{position: absolute;bottom: 0;left: 0;width: 100%;text-align: right;}
#banner .top{background: linear-gradient(-120deg, #3DAFE3 , #5C19C8);position: relative;color: #fff;font-size: 2.857142857142857rem;font-weight: 700;max-width: 837px;line-height: 120%;padding: 38px 96px 44px 235px;text-align: left;}
#banner .bot{background: linear-gradient(-120deg, #03CAE9 , #2AE9BE);display: inline-block;color: #fff;font-size: 2.142857142857143rem;font-weight:300;padding: 25px 35px;line-height: 140%;margin: 160px 200px 0 auto;}

/*content*/
#content {background: #fff;padding: 100px 0;}
#content h1{font-size: 2.857142857142857rem;color: #444444;}
#content .sub{font-size: 1.4285714285714286rem;line-height: 140%;color: #04CBE5;font-weight: 700;padding: 20px 0;}
#content p{color: #878787;line-height: 160%;max-width: 520px;padding-bottom: 55px;}
#content .row{display: flex;}
#content .col-md-6{display: inline-block;width: calc(50% - 2px);text-align: left;vertical-align: top;}
#content .img-holder{position: relative;}
#content .img-holder img{max-width: 100%;height: auto;}
#content .img-holder .blue-line{height: 166px;width: 5px;background: #42D8ED;position: absolute;bottom: 0;left:calc(50% - 2.5px);z-index: 1;line-height: 0;}

.slogan .row {background: linear-gradient(-120deg, #3DAFE3 , #5C19C8); padding: 20px 0;}
.slogan {font-size: 2.857142857142857rem; font-weight: 700; color: #fff;display: none;}

#services{padding: 0 0 255px;position: relative;}
#services .row{position: relative;}
#services .serv-img{display: block;}
#services .text-on-img{line-height: 100%;color: #fff;font-size: 2.857142857142857rem;position: absolute;text-align: right;font-weight: 700;bottom: 60px;right: 35px;}

#services2 .col-md-7{width: calc(58.33333333% - 2px);display: inline-block;vertical-align: top;}
#services2 .col-md-5 {width: calc(41.66666667% - 2px);display: inline-block;vertical-align: top;}
#services2 .left{padding-top: 65px; text-align: left;}
#services2 .left h2{font-size: 2.857142857142857rem;color: #444444;font-weight: 400;}
#services2 .left .lorem{font-size: 1.2857142857142858rem;color: #666666;line-height: 140%;padding: 40px 180px 40px 0;font-weight: 500;}
#services2 .left ul{columns: 2;list-style-type: none;margin: 0;padding: 0;}
#services2 .left ul li{display: list-item;line-height: 200%;color:#444444;font-size: 1.4285714285714286rem;cursor:pointer;}
#services2 .left ul li:before{content: '';width: 10px;height: 10px;border-radius: 50%;background: linear-gradient(-120deg, #3DAFE3 , #5C19C8);display: inline-block;vertical-align: middle;margin-right: 20px;margin-bottom: 3px;}
#services2 .we-do{background: url(../images/content/slicer.png) no-repeat top center;font-weight: 700;line-height: 120%;text-align: center;color: #fff;font-size:2.857142857142857rem;padding: 58px 0;position: relative;z-index: 2;}
#services2 .we-do-after{background: linear-gradient(-120deg, #3DAFE3 , #5C19C8);margin: 0; padding: 0;list-style: none;position: relative;z-index: 1;margin-top: -10px;}
#services2 .we-do-after ul{margin: 0;padding: 0;list-style-type: none;padding: 70px;}
#services2 .we-do-after ul li{padding: 25px 0;font-size: 1.4285714285714286rem;color:#fff;font-weight: 400;text-align: left;}
#services2 .we-do-after ul .pro:before{content: url(../images/content/pro-icon.png);display: inline-block;vertical-align: middle;margin-left:40px;margin-right: 55px;}
#services2 .we-do-after ul .fri:before{content: url(../images/content/fri-icon.png);display: inline-block;vertical-align: middle;margin-left:40px;margin-right: 55px;}
#services2 .we-do-after ul .hon:before{content: url(../images/content/hon-icon.png);display: inline-block;vertical-align: middle;margin-left:40px;margin-right: 55px;}
#services2 .we-do-after ul .hr{height: 2px;padding: 0;margin: 0;background: url('../images/content/border.png') no-repeat center;}

#goal{padding: 0 0 50px;}
#goal .col-md-6 img{max-width: 100%;}
#goal .goal-text{padding-left: 50px; text-align: left;}
#goal .goal-text h2{font-size: 2.857142857142857rem;color: #444444;font-weight: 300;padding-bottom: 20px;}
#goal .goal-text p{line-height: 160%;color: #878787;padding-bottom: 20px;}
#goal .goal-text p:last-child{padding-bottom: 0;}

#midsection{position: relative;max-width: 1210px; width: 100%; margin: 0 auto;}
#midsection .content-holder{background: linear-gradient(-120deg, #3DAFE3 , #5C19C8);padding-top: 93px;padding-bottom: 86px;padding-left: 75px;font-size: 2.857142857142857rem;color: #fff;font-weight: 300;text-align: left;}
#midsection .content-holder span{font-size: 2.142857142857143rem;color: #fff;font-weight: 300;display: block;}
#midsection .design-img{position: absolute; bottom: 0; right: 5px;max-width: 540px;width: 45%;}
#midsection .blue-line{height: 166px;width: 5px;background: #42D8ED;position: absolute;bottom: -91px;right:0;z-index: 1;line-height: 0;}

#top-bottom{text-align: left;padding: 100px 0;position: relative;position: relative;max-width: 1360px; width: 100%; margin: 0 auto;}
#top-bottom h3{font-size: 2.1rem;color: #444;font-weight: 300;padding-bottom: 40px;}
#top-bottom .text{padding-right: 60px;font-weight: 600;}
#top-bottom p{line-height: 160%;color: #444;padding-bottom: 25px;}
#top-bottom p:last-child{padding-bottom: 40px;}
#top-bottom .top-bottom-img{right: 0; bottom: 0;position: absolute;max-width: 728px;width: 54%;}

/*footer*/
#footer {background: #222222;padding: 107px 0 43px;}
#footer .logo-ft{margin-bottom: 40px;}
#footer hr{ border: 0;height: 0;border-top: 4px solid #000;border-bottom: 1px solid rgba(255,255,255,.09);margin-bottom: 89px;}
#footer .col-md-3{display: inline-block;width: calc(25% - 3px);text-align: left;vertical-align: top;}
#footer .caption{color: #fff;margin-bottom: 48px;font-size: 1.4285714285714286rem;}
#footer .lorem{line-height: 160%;color: #808799;padding-right: 65px;}
#footer .list{list-style-type: none;margin: 0;padding: 0;}
#footer .list li{color: #808799;line-height: 220%;}
#footer .list li.active-menu a, #footer .list li a:hover, #footer .sub{font-weight: 700;}
#footer .info{color: #808799;line-height: 140%;}
#footer .dis{color: #444444;max-width: 1011px;margin: 0 auto;margin-bottom: 30px;margin-top: 56px;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}
#footer .copy, #footer .silver{color: #7F8599;}

.inner > #content {min-height: 400px;padding: 40px 0px;}
.inner > #content .row {max-width: 960px;margin: 0 auto;display: block;}
.inner > #content .row p{max-width: 100%;padding-bottom: 0;}

/*centered*/
.centered{
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/*font-family: 'Montserrat', sans-serif;
*/
